@import "tailwindcss";
/* swipper */
@import "swiper/css";

/* swipper */

* {
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

span,
a {
  display: inline-block;
}
:root {
  /* ========= gray color ========= */

  --color-gray-00: #ffffff;
  --color-gray-50: #f2f4f5;
  --color-gray-100: #e4e7e9;
  --color-gray-200: #c9cfd2;
  --color-gray-300: #adb7bc;
  --color-gray-400: #929fa5;
  --color-gray-500: #77878f;
  --color-gray-600: #5f6c72;
  --color-gray-700: #475156;
  --color-gray-800: #303639;
  --color-gray-900: #191c1f;
  /* ========= Primary color ========= */
  --color-primary-50: #fff3eb;
  --color-primary-100: #ffe7d6;
  --color-primary-200: #ffcead;
  --color-primary-300: #ffb685;
  --color-primary-400: #ff9d5c;
  --color-primary-500: #fa8232;
  --color-primary-600: #de732d;
  --color-primary-700: #99501f;
  --color-primary-800: #663514;
  --color-primary-900: #331b0a;
  /* ========= Secondary color ========= */
  --color-secondary-50: #eaf6fe;
  --color-secondary-100: #d5edfd;
  --color-secondary-200: #abdbfa;
  --color-secondary-300: #81c9f8;
  --color-secondary-400: #57b7f5;
  --color-secondary-500: #2da5f3;
  --color-secondary-600: #2484c2;
  --color-secondary-700: #1b6392;
  --color-secondary-800: #124261;
  --color-secondary-900: #092131;
  /* ========= Success color ========= */
  --color-success-50: #eaf7e9;
  --color-success-100: #d5f0d3;
  --color-success-200: #abe0a7;
  --color-success-300: #81d17c;
  --color-success-400: #57c150;
  --color-success-500: #2db224;
  --color-success-600: #248e1d;
  --color-success-700: #1b6b16;
  --color-success-800: #12470e;
  --color-success-900: #092407;
  /* ========= Warning color ========= */
  --color-warning-50: #fdfae7;
  --color-warning-100: #fbf4ce;
  --color-warning-200: #f7e99e;
  --color-warning-300: #f3de6d;
  --color-warning-400: #efd33d;
  --color-warning-500: #ebc80c;
  --color-warning-600: #bca00a;
  --color-warning-700: #8d7807;
  --color-warning-800: #5e5005;
  --color-warning-900: #2f2802;
  /* ========= danger color ========= */
  --color-danger-50: #fdeeee;
  --color-danger-100: #fcdede;
  --color-danger-200: #f8bcbc;
  --color-danger-300: #f59b9b;
  --color-danger-400: #f17979;
  --color-danger-500: #ee5858;
  --color-danger-600: #be4646;
  --color-danger-700: #8f3535;
  --color-danger-800: #5f2323;
  --color-danger-900: #301212;
  /* font */
  --font-public-sans: "Public Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
  /* font */
}

@theme {
  /* ========= gray color ========= */
  --color-gray-00: var(--color-gray-00);
  --color-gray-50: var(--color-gray-50);
  --color-gray-100: var(--color-gray-100);
  --color-gray-200: var(--color-gray-200);
  --color-gray-300: var(--color-gray-300);
  --color-gray-400: var(--color-gray-400);
  --color-gray-500: var(--color-gray-500);
  --color-gray-600: var(--color-gray-600);
  --color-gray-700: var(--color-gray-700);
  --color-gray-800: var(--color-gray-800);
  --color-gray-900: var(--color-gray-900);
  /* ========= Primary color ========= */
  --color-primary-50: var(--color-primary-50);
  --color-primary-100: var(--color-primary-100);
  --color-primary-200: var(--color-primary-200);
  --color-primary-300: var(--color-primary-300);
  --color-primary-400: var(--color-primary-400);
  --color-primary-500: var(--color-primary-500);
  --color-primary-600: var(--color-primary-600);
  --color-primary-700: var(--color-primary-700);
  --color-primary-800: var(--color-primary-800);
  --color-primary-900: var(--color-primary-900);
  /* ========= Secondary color ========= */
  --color-secondary-50: var(--color-secondary-50);
  --color-secondary-100: var(--color-secondary-100);
  --color-secondary-200: var(--color-secondary-200);
  --color-secondary-300: var(--color-secondary-300);
  --color-secondary-400: var(--color-secondary-400);
  --color-secondary-500: var(--color-secondary-500);
  --color-secondary-600: var(--color-secondary-600);
  --color-secondary-700: var(--color-secondary-700);
  --color-secondary-800: var(--color-secondary-800);
  --color-secondary-900: var(--color-secondary-900);

  /* ========= Success color ========= */

  --color-success-50: var(--color-success-50);
  --color-success-100: var(--color-success-100);
  --color-success-200: var(--color-success-200);
  --color-success-300: var(--color-success-300);
  --color-success-400: var(--color-success-400);
  --color-success-500: var(--color-success-500);
  --color-success-600: var(--color-success-600);
  --color-success-700: var(--color-success-700);
  --color-success-800: var(--color-success-800);
  --color-success-900: var(--color-success-900);
  /* ========= Warning color ========= */
  --color-warning-50: var(--color-warning-50);
  --color-warning-100: var(--color-warning-100);
  --color-warning-200: var(--color-warning-200);
  --color-warning-300: var(--color-warning-300);
  --color-warning-400: var(--color-warning-400);
  --color-warning-500: var(--color-warning-500);
  --color-warning-600: var(--color-warning-600);
  --color-warning-700: var(--color-warning-700);
  --color-warning-800: var(--color-warning-800);
  --color-warning-900: var(--color-warning-900);

  /* ========= danger color ========= */

  --color-danger-50: var(--color-danger-50);
  --color-danger-100: var(--color-danger-100);
  --color-danger-200: var(--color-danger-200);
  --color-danger-300: var(--color-danger-300);
  --color-danger-400: var(--color-danger-400);
  --color-danger-500: var(--color-danger-500);
  --color-danger-600: var(--color-danger-600);
  --color-danger-700: var(--color-danger-700);
  --color-danger-800: var(--color-danger-800);
  --color-danger-900: var(--color-danger-900);
}

@theme {
  --font-Public: var(--font-family);
  --font-inter: var(--font-public-sans);
}

/* *********** Heading *********** */
.heading1 {
  font-family: var(--font-public-sans);
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}
.heading2 {
  font-family: var(--font-public-sans);
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
}
.heading3 {
  font-family: var(--font-public-sans);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
.heading4 {
  font-family: var(--font-public-sans);
  font-size: 16px;
  font-weight: bold;
  line-height: 56px;
  letter-spacing: 1.2%;
}
.heading5 {
  font-family: var(--font-public-sans);
  font-size: 14px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 1.2%;
}
.heading5 {
  font-family: var(--font-public-sans);
  font-size: 14px;
  font-weight: bold;
  line-height: 48px;
}
/* *********** Heading *********** */
/* *********** Display *********** */
.display1 {
  font-family: var(--font-public-sans);
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0;
}
.display2 {
  font-family: var(--font-public-sans);
  font-size: 56px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0;
}
.display3 {
  font-family: var(--font-public-sans);
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0;
}
.display4 {
  font-family: var(--font-public-sans);
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0;
}
.display4 {
  font-family: var(--font-public-sans);
  font-size: 38px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0;
}
/* *********** Display *********** */
/* *********** Label *********** */
.label1 {
  font-family: var(--font-public-sans);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
.label2 {
  font-family: var(--font-public-sans);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.label3 {
  font-family: var(--font-public-sans);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.label4 {
  font-family: var(--font-public-sans);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}
.label5 {
  font-family: var(--font-public-sans);
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
}
/* *********** Label *********** */
/* *********** Body *********** */
/* Base Font Setup */
/* XXL */
.body-xxl-400 {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
}

/* XL */
.body-xl-400 {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
}
.body-xl-500 {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
}
.body-xl-600 {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
}

/* Large */
.body-large-400 {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
}
.body-large-500 {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
}
.body-large-600 {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
}

/* Medium */
.body-medium-400 {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}
.body-medium-500 {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}
.body-medium-600 {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}

/* Small */
.body-small-400 {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}
.body-small-500 {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}
.body-small-600 {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}

/* Tiny */
.body-tiny-400 {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
}
.body-tiny-500 {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
}
.body-tiny-600 {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
}

/* XS */
.body-xs-400 {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 0px;
}
.body-xs-500 {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 0px;
}
.body-xs-600 {
  font-family: var(--font-public-sans);
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 0px;
}

/* *********** Body *********** */

/* conatiner */
.container {
  width: 1320px;
  margin: auto;
}
/* conatiner */

/* swiper pagination */
.swiper-pagination {
  position: absolute !important;
  left: -35% !important;
  bottom: 10% !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-gray-700) !important;
}
/* swiper pagination */

/* hover effect on features */
.customstYle {
  position: relative;
}
.customstYle::after {
  content: "";
  display: block;
  width: 0%;
  height: 4px;
  background-color: var(--color-primary-500);
  transition: width 0.3s;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.customstYle:hover::after {
  width: 100%;
}

/* custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #adb7bc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #adb7bc;
}

/* range slider */
/* Yellow Range Slider */

.range-slider {
  height: 4px;
  width: 100%;
  position: relative;
  cursor: pointer;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.range-slider .range-slider__thumb {
  height: 16px;
  width: 16px;
  background: var(--color-gray-00)!important;
  border: 2px solid var(--color-primary-500);
}

#range-slider-yellow {
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 40 40'  fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E")
    var(--color-gray-100);
}
#range-slider-yellow .range-slider__range {
  background: var(--color-primary-500);
  transition: height 0.3s;
}

#range-slider-yellow .range-slider__thumb {
  background: var(--color-primary-500);
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

#range-slider-yellow .range-slider__thumb[data-active] {
  transform: translate(-50%, -50%) scale(1.25);
}

#range-slider-yellow .range-slider__range[data-active] {
  height: 10px;
}
/* range slider */


/* checkbox color shop page */
input[type="checkbox"] {
  accent-color: orange; /* sets the background */
}

input[type="checkbox"]:checked {
  accent-color: orange; /* keep orange background */
  color: white; /* tick color */
}
/* checkbox color shop page */